@import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
$primary: #6534FF;
$danger: #F44336;
// $secondary: #F7F7F8;
$light: #F7F7F8;
$input-group-addon-border-color: #F7F7F8;
$input-border-color: #F7F7F8;
$input-padding-y: .7rem;
$input-focus-box-shadow: none;
$input-focus-border-color: #F7F7F8;
$font-weight-semibold: 500;
// меняем переменные тут, после чего они будут добавляться в map внутри variables
// @import 'bootstrap/scss/variables';

@import 'bootstrap/scss/bootstrap';

a {
  text-decoration: none;
  color: $dark;

  &:hover {
    text-decoration: underline;
    color: $dark;
  }
}