@import 'bootstrap/scss/functions';
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
$primary: #6534FF;
$danger: #F44336;
$light: #F7F7F8;
$input-group-addon-border-color: #F7F7F8;
$input-border-color: #F7F7F8;
$input-padding-y: .7rem;
$input-focus-box-shadow: none;
$input-focus-border-color: #F7F7F8;
$font-weight-semibold: 500;

$modal-content-border-radius: 20px;
$modal-content-border-color: #fff;
$modal-header-border-color: #fff;
$modal-header-padding-x: 1.5rem;

$btn-close-width: .9rem;
$form-check-input-width: 1.25em;
$list-group-border-width: 0;

$utilities: map-merge(
  $utilities,
  (
    "rounded-start": (
      property: border-bottom-left-radius border-top-left-radius,
      class: rounded-start,
      values: (
        null: var(--#{$prefix}border-radius),
        circle: 50%,
      )
    ),
    "rounded-end": (
      property: border-bottom-right-radius border-top-right-radius,
      class: rounded-end,
      values: (
        null: var(--#{$prefix}border-radius),
        circle: 50%,
      )
    )
  )
);

@import 'bootstrap/scss/bootstrap';

a {
  text-decoration: none;
  color: $dark;

  &:hover {
    text-decoration: underline;
    color: $dark;
  }
}

.separator {
  &:before, &:after {
    content: "";
    display: inline-block;
    width: 42%;
    margin: 0 4em 0 -50%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }
  &:after {
    margin: 0 -50% 0 4em;
  }
}

span {
  display: inline-block;
  vertical-align: middle;
}

.top-bar {
  z-index: 1;
}

.navlink {
  color: $secondary;
    border-bottom: 2px solid $white;
  &:hover {
    color: $dark;
  }
  &.active {
    border-bottom: 2px solid $primary;
    color: $dark;
  }
}
